.mapContainer {
  width: 100%;
  height: 100vh;
  padding: 100px;
}
.map {
  width: 100%;
  border-radius: 20px;
  height: 100%;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .mapContainer {
    padding: 60px;
  }
}

@media (max-width: 768px) {
  .mapContainer {
    padding: 40px 20px;
    height: 60vh;
  }
}

@media (max-width: 480px) {
  .mapContainer {
    padding: 20px 15px;
    height: 50vh;
  }
}
